<h1>Heavy Metal Blog</h1>
<center><a href="/posts/new">+Submit New Post+</a></center>
<BR>
<BR>
<% if @posts %>
  <% @posts.each do |post| %>
    <span id="blogtitle">
      <a href="/posts/<%= post.id %>">
        <%= post.title %>
      </a>
      </span><BR>
    <span id="content"><%= post.body.gsub(/\n/, '<br/>') %></span><BR> 
    <% post.tags.each do |tag| %>
      <span id="blogtags"><a href="/tags/<%= tag.name %>"><%= tag.name %></a></span>
    <% end %>
   <BR><BR>
  <% end %>
<% end %>