<% if @post %>
  <h1><%= @post.title %></h1>
  <span id="content"><%= @post.body %></span><BR> 
  <% @post.tags.each do |tag| %>
    <span id="blogtags"><a href="/tags/<%= tag.name %>"><%= tag.name %></a></span>
  <% end %>
<% end %>
<BR>
  <BR>
<form action="/posts/<%= @post.id %>/delete" method="post" >
  <input type="hidden" name="id" value="<%= @post.id %>">
  <input type="submit" value="Delete post">
</form>
<BR>
<form action="/posts/<%= @post.id %>/edit" method="get" >
  <input type="hidden" name="id" value="<%= @post.id %>">
  <input type="submit" value="Edit post">
</form>